html{
	box-sizing: border-box;
}

body {
	margin:0;
	min-height: 100vh;

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto Slab', serif;
	background-image: url("quote.png");
	background-size: cover;
}


.quote-container {
	width: auto;
	max-width: 500px;
	padding:20px 30px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.4);
	box-shadow: 0 10px 10px 10px;

}


#quote {
	font-size: 25px;
	font-weight:600: 
}

#author {
	font-size: 15px;
	font-style: italic;
	font-weight:200; 
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 26px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  font-weight: 600;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}


